/* Palette Cool Blue: www.color-hex.com/color-palette/30415 */

html, body{
  font-size: 1.1em;
  font-family: sans-serif;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  background-color: lightgray;
}


/* --- HOME PAGE --- */
#home_content{
  /* border: 1px solid black; */
}

#home_main-content{
  text-align: center;
  width: 600px;
  margin: auto;
}

#home_main-content .home_btn{
  display: block;
  margin: 80px auto;
  width: 600px;
  height: 70px;
  font-weight: bold;
  font-size: 1.5em;
  /* border: 1px solid lightgray; */
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px black;
  outline: none;
  background-color: rgb(0,80,115);
  color: white;
  cursor: pointer;
}

#home_main-content .home_btn:hover{
  box-shadow: 2px 2px 15px 2px black;
  font-size: 1.6em;
}

/* bootstrap buttons */
#home_main-content button{
  margin: 80px auto;
}
