html, body{
  font-size: 1.1em;
  font-family: sans-serif;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  background-color: lightgray;
}

#terminal-container{
  border: 5px solid grey;
  margin: 15px 50px;
  height: 600px;
  background-color: black;
  overflow: auto;
}

#terminal-content{
  color: white;
  padding: 5px 30px;
}

#terminal-content .pre-title{
  color: rgb(0,80,115);
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0;
}

.download-model .cloud-download-container{
  display: inline;
  position: relative;
  left: 10px;
  top: 10px;
  margin: 10px;
}

.cloud-download-container img{
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover !important;
}

.download-model a{
  text-decoration: none;
  padding-left: 50px;
}
