// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*
body{
    background-color: lightgrey;
}
*/

button{
    margin: 5px 0;
}

.tooltip-custom {
    position: relative;
    display: inline-block;
    opacity: 1;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.info{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* Tooltip text */
.tooltip-custom .tooltiptext {
    visibility: hidden;
    width: 450px;
    margin-left: -225px;
    bottom: 130%;
    left: 50%;
    background-color: rgb(40,40,40, .95);
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip-custom:hover .tooltiptext {
    visibility: visible;
}

.tooltip-custom .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(40,40,40) transparent transparent transparent;
}

.tooltiptext a{
    color: grey;
    text-decoration: underline;
    font-weight: bold;
}

.card-body .card{
    background-color: #6c757d;  //bg-secondary
    color: white;
    border-radius: 0.5rem;
    border: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
}

.active-tab{
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #343a40; //bg-dark
    color: rgb(255,255,255) !important;
    margin-bottom: 0;
    padding-top: 5px;
}