.content {
	text-align: center;
}

.title {
	color: #636b6f;
	font-size: 70px;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 400;
}

.sub-title {
	color: #636b6f;
	margin-top: 20px;
	font-size: 40px;
	font-weight: 400;
}

.description{
	color: #636b6f;
	padding: 0 5px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .1rem;
	line-height: 1.5rem;
}

.description a {
	color: #636b6f;
	padding: 0 2px;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.description a:hover {
	color: #505050;
	text-decoration: none;
}

.highlight-text {
	color: #404040;
}